Accounts/Connected Services/ServiceReference1/AccountsV3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountsV3" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://soap-att.dio.red/AccountsV3.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://soap-att.dio.red/AccountsV3.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://soap-att.dio.red/AccountsV3.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rokolabs.AutomationTestingTask.Soap.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccounts_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAccounts_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAccounts_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IAccounts_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IAccounts_Registrate_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrate" />
  </wsdl:message>
  <wsdl:message name="IAccounts_Registrate_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrateResponse" />
  </wsdl:message>
  <wsdl:message name="IAccounts_GetUserBySessionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserBySessionId" />
  </wsdl:message>
  <wsdl:message name="IAccounts_GetUserBySessionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserBySessionIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccounts">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccounts/Login" message="tns:IAccounts_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccounts/LoginResponse" message="tns:IAccounts_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccounts/Logout" message="tns:IAccounts_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccounts/LogoutResponse" message="tns:IAccounts_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registrate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccounts/Registrate" message="tns:IAccounts_Registrate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccounts/RegistrateResponse" message="tns:IAccounts_Registrate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserBySessionId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccounts/GetUserBySessionId" message="tns:IAccounts_GetUserBySessionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccounts/GetUserBySessionIdResponse" message="tns:IAccounts_GetUserBySessionId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccounts" type="tns:IAccounts">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAccounts/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IAccounts/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registrate">
      <soap:operation soapAction="http://tempuri.org/IAccounts/Registrate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserBySessionId">
      <soap:operation soapAction="http://tempuri.org/IAccounts/GetUserBySessionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountsV3">
    <wsdl:port name="BasicHttpBinding_IAccounts" binding="tns:BasicHttpBinding_IAccounts">
      <soap:address location="http://soap-att.dio.red/AccountsV3.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>